extends layout

block content
  h1= title

  form
    div(class="form-group")
      label(for="date") Date
      input(type="text", id="date", value=today(), class="form-control")

    div(class="form-group")
      label(for="run") Run
      span(class="fieldNote") Enter run here with distances codes (listed to right). E.g. 2*toPark+3*smallLap.
      div.input-group
        span.input-group-addon x km
        input(type="text", id="run", class="form-control")

    div(class="form-group")
      label(for="time") Time
      span(class="fieldNote") Enter time in mm:ss fomat.
      input(type="text", id="time", class="form-control")

    div(class="form-group")
      button(id="submit", class="btn btn-default") Save

  div(class="col-md-8")
    table(class="table table-striped")
      tr
        th Date
        th Distance
        th Time
      if runs.length
        each run in runs
          tr
            td #{run.date}
            td #{run.distance}
            td #{formatTime(run.time)}
  div(class="col-md-2")
    table(class="table table-striped")
      tr
        th 
        th Distance
      each common, index in commonDistances
        tr
          td
            span #{common.label} 
            sup [#{index}]
          td #{common.distance}
